/* hide ads */
div.malediction.desktop_hero {
	display: none !important;
}

div.malediction.desktop_footer {
	display: none !important;
}

div.malediction.desktop_sidebar_a {
	display: none !important;
}
