/* hide ads */
div.malediction.hero.heroic-placement {
	display: none !important;
}

div.malediction.hero {
	display: none !important;
}

div.malediction.sidebar_a {
	display: none !important;
}

div.malediction.rail {
	display: none !important;
}
