#profile-menu {
	border: white 1px solid;
	border-radius: 0px !important;
	border-width: 2px;
	border-image: linear-gradient(to top right, #FF4040, #FFFF40, #40FF40) 1;
}

#centerwidget > div.maincontent > div {
	border: white 1px solid;
	border-radius: 0px !important;
	border-width: 2px;
	border-image: linear-gradient(to top right, #FF4040, #FFFF40, #40FF40) 1;
}
body > div.navbar-background.fixed-top {
	border: white 1px solid;
	border-width: 0px 0px 2px 0px !important;
	border-image: linear-gradient(to right, #FF4040, #FFFF40, #40FF40) 1;
}